<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="article-title">{{ article.title }}</h1>
        {% if article.updated_time %}
            <p class="article-updated-time">{{ article.updated_time }}</p>
        {% endif %}
        {% if article.main_image %}
            <div class="article-image">
                <img src="{{ article.main_image.src }}" alt="{{ article.main_image.alt }}" class="article-image">
            </div>
        {% endif %}
        <div class="article-content">
            {{ article.content | safe }}
        </div>
    </div>
</body>
</html>
